*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.wrapper{
    width: 770px;
    border-radius: 10px;
    padding: 35px;
}

.wrapper.content-box{
    padding: 13 px 20 px 0;
    border-radius: 10 px;
}

.typing-text p{
    text-align: justify;
    letter-spacing: 1px;
    word-break: break-all;
}

.content-box .content{
    display: flex;
    justify-content: space-between;
}